@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

[id] {
  scroll-margin-top: 99px;
}
